<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Air Draw</title>
    <link rel="stylesheet" href="assets/index.css">
    <script src="resources/kotlin.js"></script>
    <script src="resources/kotlinx-coroutines-core.js"></script>
    <script src="resources/kotlinx-html-js.js"></script>
    <script src="resources/kotlinx-serialization-kotlinx-serialization-runtime.js"></script>
    <script src="resources/common.js"></script>
    <script src="resources/web.js"></script>
</head>
<body>
    waiting for drawings...
</body>
</html>
