<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jamesward.airdraw">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@android:drawable/btn_star"
        android:label="@string/app_label">
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="drawurl" android:value="${drawurl}"/>
        <meta-data android:name="micronaut.http.client.read-timeout" android:value="30s"/>
    </application>

</manifest>
